<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUIAdvancedLearning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>338076102B98763500DEADAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96265C302B9F0E8C000F845A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96265C452BA05950000F845A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
